
<a href="index.html"><img id="logo" src="images/logo.png" alt="logo"></a>

<div class="link-list">
  <a href="index.html">HOME</a>
  <div class="dropdown-container">
    <a id="open-dropdown" href="products.html">CATEGORIES</a>
    <div class="dropdown-content">
      <a class="dropdown-link" href="javascript:void(0);" id="open-all">Shop All</a>
      <a class="dropdown-link" href="javascript:void(0);" id="open-shirt">Shirts</a>
      <a class="dropdown-link" href="javascript:void(0);" id="open-shoe">Shoes</a>
      <a class="dropdown-link" href="javascript:void(0);" id="open-bag">Bags</a>
      <a class="dropdown-link" href="javascript:void(0);" id="open-dress">Dress</a>

    </div>
  </div>
  <a href="about.html">ABOUT US</a>
  <a href="contact.html">CONTACT US</a>
</div>

<!-- search function -->
<div class="funcIcon">
  <form id="search-form" action="search" method="get">
    <input type="text" name="searchPattern" value="">
    <input id="commit-search" type="submit" name="" value="Search">
  </form>
  <span id="open-search" onclick="toggleSearchForm()"><i class="fa-solid fa-magnifying-glass fa-xl"></i></span>
  <a href="login.html"><i class="fa-solid fa-user-large fa-xl"></i></a>
  <a href="cart"><i class="fa-solid fa-bag-shopping fa-xl"></i></a>
</div>
