<!-- guarantee -->
      <div class="guarantee">
        <div id="hotline">
          <span><i class="fa-solid fa-phone fa-2x"></i></span>
          <p>Hotline: 0123456789</p>
          <p>24/7 Mon - Sat</p>
        </div>
        <div id="store">
          <span><i class="fa-solid fa-store fa-2x"></i></span>
          <p>Stores system</p>
          <p>more than 500 stores</p>
        </div>
        <div id="freeship">
          <span><i class="fa-solid fa-truck fa-2x"></i></span>
          <p>Delivery</p>
          <p>free shipping</p>
        </div>
      </div>

      <!-- footer -->
      <footer>
        <div id="quick-link">
          <h2>Quick links</h2>
          <a href="/EXAM/">Home</a>
          <a href="/EXAM/products.html">Products</a>
          <a href="/EXAM/login.html">Account</a>
        </div>
        <div id="info">
          <h2>More info</h2>
          <a href="/EXAM/about.html">About us</a>
          <a href="/EXAM/contact.html">Contact us</a>
        </div>
        <div id="mission">
          <h2>Our mission</h2>
          Quality materials, good designs, craftsmanship and sustainability.
        </div>
      </footer>

      <div class="copyright">
        &copy; 2022 Team LEO Techwiz 2022
      </div>
