*{
  padding: 0;
  margin: 0;
  font-family: arial;

}
a{
  color: #333;
}
body{
  position: relative;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.big-button{
  border: 2px solid #888;
  border-radius: 8px;
  padding: 20px 30px;
  margin: auto;
  display: block;
  font-weight: bold;
  width: 100px;
  text-decoration: none;
}
.big-button:hover{
  background-color: #ddd;
  text-decoration: none;
}
h1{
  padding: 0%;
  /* text-align: center; */
  margin-bottom: 1%;
}

.question{
  font-weight: 700;
  font-style: italic;
  font-size: 1.2em;
}
.required{
  color: red;
}
/* navbar css */
.navbar{
  /* display: flex; */
  position: fixed;
  top: 0;
  /* padding: 35px 0; */
  padding-bottom: 1%;
  font-size: 18px;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 4px 4px 0px #aaa;
  margin-top: 0%;
}
.header{
  position: fixed;
  top: 0;
  padding: 25px 0;
  font-size: 18px;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 4px 4px 0px #aaa;
  margin-top: 0%;
  background-color: black;
  color:  white;
}

#logo{
  margin-left: 10px;
}
.link-list{
  display:  flex;
  padding-left: 20px;
}
.link-list a{
  margin: 0 5px;
}

.funcIcon{
  position: absolute;
  right: 20px;
  user-select: none;
}
.funcIcon i{
  margin: 10px;
}
.funcIcon *{
  display: inline-block;
}
#open-search{
  cursor: pointer;
}
#search-form{
  display: none;
  width: 100px;
}
#search-form *{
  display: inline-block;
}
#search-form input[type="text"]{
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
}
#commit-search{
  border: 1px solid #888;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  padding: 5px;
}
#commit-search:hover{
  background-color: #eee;
}
/* .navbar *{
  display: flex;
  margin: auto;
  /* background-color: black; */
  /* color: aliceblue; */
} */
/* drop down menu for category */
.dropdown-container{
  position: relative;
}
.dropdown-container:hover .dropdown-content{
  display: block;
  transition: 0.2s;
}

.dropdown-container a{
  display: block;
}

.dropdown-content{
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  padding-bottom: 5px;
}
.dropdown-link{
  text-align: center;
  padding: 10px;
  width: 100px;
  display: inline-block;
  margin: 0;
  transition: 0.2s;
}
.dropdown-link:hover{
  text-decoration: none;
  background-color: #888;
}
/* container */
.container{
  width: 100%;
  margin-top: 100px;
  font-size: 18px;
  /* margin-top: 13%; */
}
.glider img{
  width: 100%;
}
/* top products */

.new-products, .top-products, .show-products{
  margin-top: 50px;
  text-align: center;
}
/* products.html */
.show-products{
  margin-top: 250px;
}
/* end */
.item{
  display: inline-block;
  width: 20%;
  min-width: 200px;
  max-width: 500px;
  height: 350px;
  margin: 10px 5px;
}
.item img{
  width: 100%;
  height: 300px;
}

/* guarantee */
.guarantee{
  color: #fff !important;
  margin-top: 50px;
  text-align: center;
  display: grid;
  grid-template: 150px / auto auto auto;
  /* margin-bottom: 50px; */
  grid-gap: 5px;
}
.guarantee div{
  display: block;
  border: 1px solid #000;
  padding: 20px 0;
  line-height: 30px;
  background-color: #333;
}
footer{
  text-align: center;
  display: grid;
  grid-template: auto / auto auto auto;
  background-color: #faf9f8;
}
footer *{
  margin: 20px 0;
}
footer a{
  display: block;
}
/* contact.html */
#map{
  margin-top: 3%;
  display: flex;
}
#map iframe{
  display: block;
  width: 50%;
  height: 500px;
  /* margin: auto; */
  /* margin-left: 1%; */
  /* margin-right: -23%; */
  margin-left: 5%;
}

.contact-form{
  margin: 3%;
}

.contact{
  width: 80%;
  display: grid;
  grid-template: auto/ 50% 50%;
  grid-gap: 20px;
  /* padding: 30px 0; */
  /* margin: 10px auto; */
  padding-left: 5%;
}
.addr{
  /* padding-left: 20%; */
  line-height: 50px;
}
.addr ul{
  margin-left: 40px;
}

.pharagraph {
  padding-left: 5%;
  margin: 1%;
}

.contact-form input, .contact-form textarea{
  display: block;
  /* margin: 10px; */
  outline: none;
  padding: 1%;
  width: 90%;
  margin-bottom: 2%;
  margin-top: 1%;
}

.contact-form input[type='submit']{
  width: 100px;
  padding: 10px;
  border: 2px solid #888;
  border-radius: 8px;
  cursor: pointer;
}
.contact-form input[type='submit']:hover{
  background-color: #ddd;
}
/* about.html */
.about{
  text-align: justify;
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 5%;
  line-height: 200%;
}
#our-mission{
  font-size: 40px;
  margin: 20px 0;
}
.mission{
  font-size: 20px;
}
.mission-desc{
  line-height: 30px;
}
.about-images{
  /* background-image: url('/images/about.jpg'); */
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 8%;
  color: white;
  font-size: 75px;
  /* margin: 40px auto; */
}
/* .about-images img{
  width: 40%;
  min-width: 500px;
  margin: 0 20px;
} */
/* form validate response */
.error{
  color: red;
  font-family: monospace;
}

.navbar .navbar-header {
  /* display: flex; */
  margin: auto;
  background-color: black;
  color:  white;
  /* height: 0%; */
  /* padding-top: 0%; */
  /* padding-bottom: 0%; */
  text-align: center;
  font-size: 10px;
}

.navbar .navbar-footer{
  display: flex;
  margin: auto;
  margin-top: 2%;
}

/* responsive */
@media only screen and (max-width:800px) {
  .link-list{
    display: none;
  }
  .addr *{
    line-height: 40px;
  }
  #logo{
    margin-left: 175%;
  }
  .fa-user-large{
    display:none !important;
  }
}


@media only screen and (max-width:450px) {
  .guarantee{
    display: block;
  }
  .guarantee div{
    display: block;
    width: 90%;
    margin: 10px auto;
  }
  .about{
    width: 90%;
  }

}

@media only screen and (min-width: 800px) {
  .fa-bars{
    display: none;
  }
}