<!-- guarantee -->
      <div class="guarantee">
        <div id="hotline">
          <span><i class="fa-solid fa-phone fa-2x"></i></span>
          <p>HOTLINE: 0123456789</p>
          <p>24/6 MON - SAT</p>
        </div>
        <div id="store">
          <span><i class="fa-solid fa-store fa-2x"></i></span>
          <p>STORES SYSTEM</p>
          <p>MORE THAN 500 STORES</p>
        </div>
        <div id="freeship">
          <span><i class="fa-solid fa-truck fa-2x"></i></span>
          <p>DELIVERY</p>
          <p>FREE SHIPPING</p>
        </div>
      </div>

      <!-- footer -->
      <footer>
        <div id="quick-link">
          <h2>Quick links</h2>
          <a href="/EXAM/">Home</a>
          <a href="/EXAM/products.html">Products</a>
          <a href="/EXAM/login.html">Account</a>
        </div>
        <div id="info">
          <h2>More info</h2>
          <a href="/EXAM/about.html">About us</a>
          <a href="/EXAM/contact.html">Contact us</a>
        </div>
        <div id="mission">
          <h2>Our mission</h2>
          Quality materials, good designs, craftsmanship and sustainability.
        </div>
      </footer>
      <h6 style="text-align:center;font-size: 14px;margin-bottom:2%;color: lightgray;">Copywrite © 2022 Thrift Fashion. All rights reserved </h6>
