<div class="navbar-header">
  <h1>Free shipping available on all orders!</h1>
</div>
<div class="navbar-footer">
  <div class="action-menu-responsive" style="margin-left: 3%;">
    <div class="action nav-toggle">
      <i class="fa fa-bars" style="margin-left: 1%"></i>
    </div>
  </div>
  <a href="/Techwiz/EXAM/index"><img id="logo" src="images/logo.png" alt="logo"></a>
  <div class="link-list">
    <a href="/Techwiz/EXAM/index">HOME</a>
    <div class="dropdown-container">
      <a id="open-dropdown" href="/Techwiz/EXAM/products">CATEGORIES</a>
      <div class="dropdown-content">
        <a class="dropdown-link" href="javascript:void(0);" id="open-all">Shop All</a>
        <a class="dropdown-link" href="javascript:void(0);" id="open-shirt">Clothes</a>
        <a class="dropdown-link" href="javascript:void(0);" id="open-shoe">Shoes</a>
        <a class="dropdown-link" href="javascript:void(0);" id="open-bag">Accessories</a>
        <!-- <a class="dropdown-link" href="javascript:void(0);" id="open-dress">Dress</a> -->
  
      </div>
    </div>
    <a href="/Techwiz/EXAM/about">ABOUT US</a>
    <a href="/Techwiz/EXAM/contact">CONTACT US</a>
  </div>
  
  <!-- search function -->
  <div class="funcIcon">
    <form id="search-form" action="search" method="get">
      <input type="text" name="searchPattern" value="">
      <input id="commit-search" type="submit" name="" value="Search">
    </form>
    <span id="open-search" onclick="toggleSearchForm()"><i class="fa-solid fa-magnifying-glass fa-xl"></i></span>
    <a href="login.html"><i class="fa-solid fa-user-large fa-xl"></i></a>
    <a href="cart"><i class="fa-solid fa-bag-shopping fa-xl"></i></a>
  </div>
</div>